<% layout("/layout/boilerplate") %>
    <h2>All Lsitings</h2>
    <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% listings.forEach(listing => { %>
            <div class="card col"><a href="/listings/<%=listing._id%>">
            <img src="<%=listing.image%>" class="card-img-top" alt="listing_image" style="height: 20rem;" >
            <div class="card-img-overlay"></div>
            <div class="card-body">
          <b><a href="/listings/<%=listing._id%>" class="text-dark text-decoration-none">
        <%= listing.title %>
      </a></b>
        <br>
        &#8377; <%= listing.price.toLocaleString("en-IN") %> / night
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    </a>
    </div>
    <% }) %>
    </div>

