<% layout("/layout/boilerplate") %>
<body>
    <h2>All Lsitings</h2>
    <!-- <form action="/listings/new" method="get">
        <button type="submit"> Create New Lisitngs</button>
    </form> -->
  <ul>
    <% listings.forEach(listing => { %>
      <li>
        <h2><a href="/listings/<%=listing._id%>"><%= listing.title %></a></h2>
        <!-- <p><%= listing.description %></p>
        <p>Price: &#8377; <%= listing.price.toLocaleString("en-IN") %></p>
        <p>Location: <%= listing.location %>, <%= listing.country %></p>
        <img src="<%= listing.image %>" alt="<%= listing.title %>" width="200"> -->
      </li>
    <% }) %>
  </ul>
</body>
