<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
</head>
<body>
    <h1>Lisitngs Details</h1>
     <ul>
          <li>
        <h2><%= listing.title %></h2>
        <p><%= listing.description %></p>
        <p>Price: $<%= listing.price %></p>
        <p>Location: <%= listing.location %>, <%= listing.country %></p>
        <!-- <img src="<%= listing.image %>" alt="<%= listing.title %>" width="200"> -->
      </li>
  
  </ul>
</body>
</html>