<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Airbnb</title>
</head>
<body>
    <h1>Lisitngs Details</h1>
     <ul>
          <li>
        <h2><%= listings.title %></h2>
        <p><%= listings.description %></p>
        <p>Price: &#8377;<%= listings.price.toLocaleString("en-IN") %></p>
        <p>Location: <%= listings.location %>, <%= listings.country %></p>
        <!-- <img src="<%= listings.image %>" alt="<%= listings.title %>" width="200"> -->
      </li>
        <a href="/listings/<%= listings._id %>/edit">Edit this Listing</a>
    <br /><br />
  
  </ul>
</body>
</html>